html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

body {
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-item {
  font-weight: 700;
}

.menu-btn {
  padding: 15px 58px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: black;
  color: white;
}

.header {
  height: 100vh;
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}

.header-content {
}
